footer
  .container.text-center
    p.pull-left ImageUploader
    ul.pull-right.list-inline
      li
        a(href='https://github.com/sooraj-e/imageuploader') GitHub Project
      li
        a(href='https://github.com/sooraj-e/imageuploader/issues') Issues